**/Objects/
**/Listings/
**/DebugConfig/
**/.vscode/
*.uvguix.*
*.uvoptx
*.log
task_plan.md
findings.md
progress.md
ECU-A/Library/
ECU-B/Library/
ECU-A/Start/
ECU-B/Start/
ECU-A/User/stm32f10x_conf.h
ECU-B/User/stm32f10x_conf.h
ECU-A/User/stm32f10x_it.c
ECU-A/User/stm32f10x_it.h
ECU-B/User/stm32f10x_it.c
ECU-B/User/stm32f10x_it.h
